@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&family=Poppins:wght@400;500;700;800&display=swap');
html,
body{
    font-family:'Poppins',sans-serif;
    overflow-x:hidden;
    background:#fff;

}
.sub-title{
    font-weight: 600;
    display: inline-block;
    text-transform:uppercase;
    font-size:17px; 
    
}
button,
.btn{
     font-weight:500;
   
}

.img-wall{
    position:relative;
    overflow:hidden;
}
.img-wall:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:40%;
    height:100%;
    background-color:#018eea;
}
.t-color{
    color:#018eea;
}
.gText{
    background: linear-gradient(260.16deg, #1C99FE 9.94%, #7644FF 54.82%, #FD4766 95.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

a{
    text-decoration:none;
    color:#fff;
}
a:hover,
a:focus{
  color:#eee;
}


.title-holder{
    padding-bottom:30px;
    margin-bottom:30px;
    text-align: center;
}

.title-holder p{
    max-width:700px;
    margin:0 auto;
}

.about .title-holder{
    border-bottom:1px solid rgba(0,0,0,.2);
}


.simple-title{
    
    font-size: 42px;
    position: relative;
    color: #000;
    font-weight:700;
    margin-bottom: 20px;
    padding: 0;
}
p{
    font-size:16px;
    font-weight:500;
    line-height:1.7;
    color:#777b83;
    margin-bottom:15px;
}
h5,h6{
    font-family: 'Poppins',sans-serif;
    font-weight:500;
    margin-bottom:15px;
}

h1,h2,h3,h4{
    font-family: 'Poppins',sans-serif;
    
    line-height:1.2;
    color:#000;
    font-weight:800;
    margin-bottom:15px;

}

img{
    width:100%;
    height:auto;
    object-fit:cover;
    -webkit-transition: 3s ;
    -moz-transition: 3s ;
    transition: 3s;
}

.bg-theme{
    background-image:linear-gradient(250.16deg, #1C99FE 9.94%, #7644FF 40.82%, #FD4766 85.56%);
}
.gray-bg{
    background:#eceff4;
}
ul{
    padding-left:0;
}


.btn-primary{
    background-image:linear-gradient(260.16deg, #1C99FE 9.94%, #7644FF 54.82%, #FD4766 95.56%);
    border-color:transparent;
    background-size: 200% 100%;
    color:#fff;
    padding:13px 45px;
    border-radius:50px;
    font-size:17px;
    background-color:transparent;
    -webkit-transition: .3s ;
    -moz-transition: .3s ;
    transition: .3s ;
}

.btn-primary:hover,
.btn-primary:focus{
    background-position: 100% 50%;
    color: #fff;
    background-color:transparent;
    border-color:transparent;
    text-decoration: none;

}
.btn-secondary.white{
    border-color:#fff;
    color:#fff;
}
.btn-secondary.white:hover{
      background:#fff;
    color:#000;
}

.btn-secondary{
    background-color:transparent;
    border-color:#000;
    color:#000;
    padding:13px 45px;
    font-size:17px;
}

.btn-secondary:hover,
.btn-secondary:focus{
    background:#000;
    color:#fff;
}

.section-padding{
    padding:100px 0;
}

 #tsparticles{
    position:absolute !important;
    top:0;
    right:0;
    z-index:0;
    width:100%;
    height:100%;
    overflow:hidden;
    opacity:.3;

}


.hero-banner{
    background: rgb(233, 233, 233);  /* fallback for old browsers */
    background-image:url('./img/main-hero.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:top right;
    position:relative;
    overflow:hidden;
}
.hero-banner:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background-image:linear-gradient(90deg ,rgb(255 255 255 / 98%),#f5f5f5,rgb(255 255 255 / 50%));
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.primary-overlay-light{
    position:relative;
    overflow:hidden;
}
.primary-overlay-light:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.5;
    background:#fff;
}
.stroke-text{
    
    color:#018eea;
    
}

.hero-banner h1{
    font-size:7em;
    line-height:1.1;   
    font-weight:800;
   
   
}
.hero-banner h5{
    font-size:25px;
    line-height:1.5;
    font-weight:600;
      max-width:600px;
   
}


.hero-inner{
    width:100%;
    padding:170px 0 110px 0;
    margin:0 auto;
    display:flex;
    position:relative;
    align-items:flex-start;
    text-align:left;
    flex-direction:column;
    justify-content:center; 
   
}
.hero-center{
    display:flex;
    position:relative;
    width:450px;
    height:470px;
    flex-direction:column;
    justify-content:center; 
    align-items:flex-start;
}

.aboutImg{
    position:relative;
    z-index:2;
    width:100%;
    height:100%;
    overflow:hidden;
    box-shadow:0 0 10px .1px rgba(0,0,0,.3);
}
 .hero-cover{
    
    position: relative;
    
}
.hero-inner .btn-primary{
    padding:15px 60px;
}


.about{
    position:relative;
    overflow:hidden;
}
.about .content{
    max-width:800px;
    margin:0 auto;
    text-align: center;
}
.about .lang{
    margin-top:20px;
    display:flex;
    align-items:center;
}
.about .lang img{
    width:40px;
    margin-right:10px;
}
.about .lang h5{
    font-size:16px;
    color:#3e3e3e;
    margin-bottom:0;
}
.slider-talent .Item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items:center;
}

.slider-talent .Item img{
    width:50px;
    margin-bottom:20px;
}
.slider-talent .Item h4{
    font-size:20px;
    font-weight:600;
}
.slider-talent p{
    max-width:320px;
}

.para-T{
    -webkit-transition: 4s;
    -moz-transition: 4s ;
    transition: 4s;
}
.slider-talent.section-padding{
        padding: 60px 0;
}

.masonary .item-wrapper{
    position:relative;
    overflow: hidden;
    max-height:400px;
    margin-bottom:10px;
    box-shadow:0 0 10px .1px rgba(0,0,0,0.2);
}

.masonary .item-wrapper:hover .desc-wrap,
.masonary .item-wrapper:focus .desc-wrap{
    opacity:1;

}
.masonary .item-wrapper:hover img{
    transform:scale(1.2);
}
.masonary .item-wrapper .desc-wrap h4{
    margin-bottom:20px;
    color:#ccc;
    font-weight:500;
    line-height: 1.4;
    margin-bottom: 30px;
}
.masonary .MuiMasonry-root{
    margin:0 !important;
}

.masonary .item-wrapper .desc-wrap{
    position:absolute;
    z-index:90;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    display:flex;
    padding:0 40px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:rgba(0,0,0,0.8);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    font-weight:400;
    font-size:20px;
}
 .exp .inner{
    margin-top:40px;
}
 .exp .inner .flex{
    display:flex;
    justify-content:space-between;
    flex-direction:column-reverse;
    margin-bottom:10px;

}
 .exp .content{
    max-width:450px;
    padding-left:0;
}
 .exp h5 span{
    color:#018eea;
    font-size:13px;
    margin-bottom:5px;
}
.exp h5{
    display:flex;
    flex-direction:column;
    margin-bottom:0;
    font-size:18px;
    margin-right:30px;

}
 .exp .inner img{
    width:50px;
}


.quote{
    padding-top:60px;
}

.quote .about-features-wrap {
    border-left: 5px solid  #018eea;
    border-bottom: 5px solid  #018eea;
    padding: 40px;
    position: relative;
}
.about-features-wrap:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 100px;
    content: "";
    background:  #018eea;
}
.about-features-wrap:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 5px;
    content: "";
    background:  #018eea;
}
.radius-ball {
    position: absolute;
    left: -159px;
    top: 0;
    width: 318px;
    height: 318px;
    background:  #018eea;
    opacity: .05;
    border-radius: 50%;
    z-index: -1;
}
.about-feature-left h3{
    line-height: 45px;
    font-size:35px;
    font-weight:700;
}
.section-padding.quote{
    padding-top:0;
}
.quote .inner{
    max-width:500px;
    margin:0 auto;
    position:relative;
    color:#fff;
    text-align: center;
}
.primary-overlay{
    position:relative;
    overflow:hidden;
}
.primary-overlay:before{
    content:'';
    width:100%;
    height:100%;
    background-color:#018eea;
    opacity:.7;
    position:absolute;
    top:0;
    left:0;  

}
.progressBar .skillbar{
    background:#eceff4;
    margin-bottom:20px;
}
.progressBar .skillbar-bar{
    border-radius:0;
}
.progressBar .skillbar-title{
    font-weight:500;
    font-size:15px;
    border-radius:0;
}
.progressBar .skillbar-title span{
    background:#eceff4;
}
.progressBar .skillbar-percent{
    color:#fff;
    left:45%;
    font-size:15px;
}

.contact-sec .row .col-md-6{
    padding:0;
}
.contact-sec .form-wrap .simple-title{
    max-width:400px;
    line-height:1.3;
}
.contact-sec .form-wrap label{
    font-family: 'Montserrat',sans-serif;
    font-size:15px;
    color:#787777;
    text-transform:uppercase;
}
.contact-sec .form-wrap input{
    padding:10px 20px;
}
.contact-sec .form-wrap input::placeholder,
.contact-sec .form-wrap textarea::placeholder{
    color:#ccc;
}
.contact-sec .contactForm{
    margin-top:50px;
    max-width:420px;
}
.contact-sec{
    position:relative;
    overflow:hidden;
}
.contact-sec .form-wrap{
    padding:30px 50px;
    height:100%;
    background:#fff;
    position:relative;
    box-shadow:0 0 20px 0.1px rgb(0 0 0 / 30%);

}
.contact-sec img{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 720px;
}

@media (max-width:768px){
    
    .masonary .item-wrapper{
        width:100%;
    }
    .hero-banner:before{
        width:100%;
    }
    .stroke-text{
        margin:0;
    }
    .slider-talent .Item p{
        padding-right:10px;
    }
    .hero-inner{
        align-items:center;
        text-align: center;
        
    }
    .hero-banner{
        background-size:cover;
    }
   
    .hero-banner p{
        padding-right:0;
    }

    .hero-banner h1{
    font-size:70px;
  
    }
    .hero-banner h5{
        font-size:18px;
    }

    .section-title{
        font-size:45px;
        bottom:0;

    }
    .about .content{
        padding-left:0;
        margin-top:30px;
    }
    .hero-wrap{
        position:static;

    }
     .hero-wrap .hero-img{
         width:100%;
         height:auto;
     }
    .section-padding{
        padding:80px 0;
    }
    .slider-talent.section-padding{
        padding-top:0;
        padding-bottom:60px;
    }



    h1{
        font-size:38px;
        line-height:1.2;
        font-weight:700;
    }
    h2{
        font-size:35px;
        font-weight:600;
        
        
    }	

    h3{
        font-size:32px;
        font-weight:600;
        
    }

    h4{
        font-size:20px;
        
    }
    h5{
        font-size:18px;
        
    }
    h6{
        font-size:16px;
        
    }
    .navbar-collapse{
        width:80%;
    }
    .navbar .social{
        width:auto;
        justify-content:flex-start;
    }
    #tsparticles{
        width:100%;
    }
    .navbar .social li a{
        padding:5px 8px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size:40px;
    }
    .masonary .item-wrapper .desc-wrap{
        padding:0 20px;
    }

}

@media (max-width:568px){
    .container{
        padding-left:20px;
        padding-right:20px;
    }
     .hero-inner .btn-primary{
    margin-right:0;
    margin-bottom:20px;
    }
    .contact-sec .row .col-md-6{
        padding-left:15px;
        padding-right:15px;
    }
    .contact-sec .form-wrap{
        padding:30px 20px;
        border:0;
    }
    .slider-talent p{
    max-width:520px;
    }
    .footer h5{
        margin-bottom:5px;
    }
    .footer .wrap{
        margin-bottom:20px;
    }
    .footer .wrap.pl-5,
    .footer .wrap.pl-7{
        padding-left:0;
    }

}