@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@400;500&display=swap');
html,
body{
    font-family:'Poppins',sans-serif;
    overflow-x:hidden;
    background:#fff;

}
.sub-title{
    color:#787777;
    font-weight: 400;
    display: inline-block;
    padding-top: 10px;
    font-style: italic;
}

.img-wall{
    position:relative;
    overflow:hidden;
}
.img-wall:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:40%;
    height:100%;
    background-color:#787777;
}
.t-color{
    color:#018eea;
}

a{
    text-decoration:none;
    color:#fff;
}
a:hover,
a:focus{
  color:#eee;
}

.title-holder{
    padding-bottom:30px;
    margin-bottom:30px;
}

.about .title-holder{
    border-bottom:1px solid rgba(0,0,0,.2);
}

.section-title{
    position: absolute;
    left: 0;
    color: transparent;
    font-size: 120px;
    
    opacity: .1;
    line-height: 1;
    max-width: 100%;
    text-transform:uppercase;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-stroke: 1px #000;
    -webkit-user-select: none;
    bottom:-50px;
    z-index: 1;
}
.simple-title.text-white .section-title{
    -webkit-text-stroke:1px #fff;
}

.simple-title{
    
    font-size: 35px;
    position: relative;
    color: #000;
    margin: 0;
    padding: 0;
}
p{
    font-size:16px;
    font-weight:400;
    line-height:1.7;
    color:#3e3e3e;
    margin-bottom:15px;
}
h5,h6{
    font-family: 'Poppins',sans-serif;
    font-weight:500;
    margin-bottom:15px;
}

h1,h2,h3,h4{
    font-family:'Krona One',sans-serif;
    text-transform:uppercase;
    line-height:1.2;
    color:#000;
    margin-bottom:15px;

}

img{
    width:100%;
    height:auto;
    -webkit-transition: 3s ;
    -moz-transition: 3s ;
    transition: 3s;
}

.bg-theme{
    background:#018eea;
}
.bg-light{
    background:#eef4f9;
}

.btn-primary{
    background-color:#018eea;
    border-color:#018eea;
    color:#fff;
    padding:13px 45px;
    font-size:17px;
    -webkit-transition: .3s duration timing-function delay;
    -moz-transition: .3s duration timing-function delay;
    transition: .3s duration timing-function delay;
}

.btn-primary:hover,
.btn-primary:focus{
    background-color:transparent;
    border-color:#018eea;
    color:#018eea;
}
.btn-secondary.white{
    border-color:#fff;
    color:#fff;
}
.btn-secondary.white:hover{
      background:#fff;
    color:#000;
}

.btn-secondary{
    background-color:transparent;
    border-color:#000;
    color:#000;
    padding:13px 45px;
    font-size:17px;
}

.btn-secondary:hover,
.btn-secondary:focus{
    background:#000;
    color:#fff;
}

.section-padding{
    padding:100px 0;
}

.hero-banner #tsparticles{
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;

}


.hero-banner{
    background-image:url('./img/main-bg.jpg');
    background-size: cover;
    position:relative;
    background-repeat:no-repeat;
    background-position: center;
    
}
.hero-inner button{
    margin-left:20px;
}
.hero-banner:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.5;
    background:#fff;
}
.stroke-text{
   
    color:#018eea;
    margin-left:30px;
}

.hero-banner h1{
    font-size:5em;
    text-transform:uppercase;
    line-height:1.1;
}
.hero-banner h5{
    font-size:25px;
    line-height:1.5;
    font-weight:500;
    color:#222;
    max-width:600px;
    margin:10px auto;
}

.hero-inner{
    width:100%;
    padding:30px 0;
    margin:0 auto;
    height:100vh;
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}
.about .hero-img{
    background:#554d4c;
}
.about .hero-img img{
    filter:drop-shadow( 5px 3px 10px rgba(0,0,0,0.3));
}

.about .content{
    padding-left:30px;
}
.about .lang{
    margin-top:20px;
    display:flex;
    align-items:center;
}
.about .lang img{
    width:40px;
    margin-right:10px;
}
.about .lang h5{
    font-size:16px;
    color:#3e3e3e;
    margin-bottom:0;
}

.slider-talent .Item img{
    width:50px;
    margin-bottom:20px;
}
.slider-talent .Item h4{
    font-size:20px;
}

.para-T{
    -webkit-transition: 4s;
    -moz-transition: 4s ;
    transition: 4s;
}
.slider-talent.section-padding{
        padding: 60px 0;
}

.masonary .item-wrapper{
    position:relative;
    overflow: hidden;
    max-height:400px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 0 10px .1px rgba(0,0,0,0.2);
}

.masonary .item-wrapper:hover .desc-wrap,
.masonary .item-wrapper:focus .desc-wrap{
    opacity:1;

}
.masonary .item-wrapper:hover img{
    transform:scale(1.2);
}
.masonary .item-wrapper .desc-wrap p{
    margin-bottom:20px;
    color:#ccc;
}

.masonary .item-wrapper .desc-wrap{
    position:absolute;
    z-index:90;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    display:flex;
    padding:0 40px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:rgba(0,0,0,0.8);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    font-weight:400;
    font-size:20px;
}
.skills.section-padding{
    padding-bottom:0;
}

.skills .wrapper h5{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#787777;
    width:100%;
}
.skills  .wrapper{
    width:100%;
    padding:20px;
    margin:5px 0;
    border-radius:10px;
    position:relative;
    background:#fff;
    border:1px solid #c9c9c9;
    
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin-top:10px;
	height: 20px;
	width: 100%;
    
}

.progress-done {
	background: linear-gradient(to left, #001fbb, #0090ec);
	box-shadow: 0 3px 3px -5px #001fbb, 0 2px 5px #0090ec;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0%;
	opacity: 0; 
	transition: 5s all;
}
.quote{
    background-image:url('/public/img/desk4.jpg');
    background-size:cover;
    background-position:center;
    position:relative;
}
.quote .inner{
    max-width:700px;
    margin:0 auto;
    position:relative;
    color:#fff;
    text-align: center;
}
.primary-overlay{
    position:relative;
    overflow:hidden;
}
.primary-overlay:before{
    content:'';
    width:100%;
    height:100%;
    background-color:#018eea;
    opacity:.7;
    position:absolute;
    top:0;
    left:0;  

}

.contact-sec .row .col-md-6{
    padding:0;
}
.contact-sec .form-wrap .simple-title{
    max-width:400px;
    line-height:1.3;
}
.contact-sec .form-wrap label{
    font-family: 'Krona One',sans-serif;
    font-size:15px;
    color:#787777;
    text-transform:uppercase;
}
.contact-sec .form-wrap input{
    padding:10px 20px;
}
.contact-sec .form-wrap input::placeholder{
    color:#ccc;
}
.contact-sec .contactForm{
    margin-top:50px;
    max-width:420px;
}
.contact-sec .form-wrap{
    padding:30px 50px;
    height:100%;
    border-top:1px solid #e9e7e7;
    border-right:1px solid #e9e7e7;
    border-bottom:1px solid #e9e7e7;
}

@media (max-width:768px){
    
    .masonary .item-wrapper{
        width:100%;
    }
    .hero-banner:before{
        width:100%;
    }
    .stroke-text{
        margin:0;
    }
    .slider-talent .Item p{
        padding-right:10px;
    }
    .hero-inner{
        align-items:center;
        text-align: center;
        
    }
   
    .hero-banner p{
        padding-right:0;
    }

    .hero-banner h1{
    font-size:60px;
  
    }
    .hero-banner h5{
        font-size:18px;
    }

    .section-title{
        font-size:45px;
        bottom:0;

    }
    .about .content{
        padding-left:0;
        margin-top:30px;
    }
    .section-padding{
        padding:80px 0;
    }
    .slider-talent.section-padding{
        padding-top:0;
        padding-bottom:60px;
    }



    h1{
        font-size:38px;
        line-height:1.2;
        font-weight:700;
    }
    h2{
        font-size:35px;
        font-weight:600;
        
        
    }	

    h3{
        font-size:32px;
        font-weight:600;
        
    }

    h4{
        font-size:20px;
        
    }
    h5{
        font-size:18px;
        
    }
    h6{
        font-size:16px;
        
    }
    .navbar-collapse{
        width:80%;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size:40px;
    }
    .masonary .item-wrapper .desc-wrap{
        padding:0 20px;
    }

}

@media (max-width:568px){
    .container{
        padding-left:20px;
        padding-right:20px;
    }
     .hero-inner button{
    margin-left:0;
    margin-top:20px;
    }
    .contact-sec .row .col-md-6{
        padding-left:15px;
        padding-right:15px;
    }
    .contact-sec .form-wrap{
        padding:0;
        padding-top:30px;
        border:0;
    }
    .footer h5{
        margin-bottom:5px;
    }
    .footer .wrap{
        margin-bottom:20px;
    }
    .footer .wrap.pl-5,
    .footer .wrap.pl-7{
        padding-left:0;
    }

}